body {
    margin: 20px;
    padding: 20px;
    background-color: navy;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.title {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  } 

.genre {
  column-count: 2;
}  

