<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Final Project</title>
    <!--<link rel="stylesheet" href="./style.css">  -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.css">
    <link rel="stylesheet" href="https://bootswatch.com/_assets/css/custom.min.css">
    <script type="text/javascript" async="" src="https://ssl.google-analytics.com/ga.js"></script>
    <!--<script id="_carbonads_projs" type="text/javascript" src="https://srv.carbonads.net/ads/CKYIE23N.json?segment=placement:bootswatchcom&amp;callback=_carbonads_go"></script> -->
<style>
    body {
        margin: 20px;
        padding: 20px;
        background-color: black;
        color: white;
        font-size: 20px;
    }
    img {
        position: center;
    }
</style>
</head>
<body>
<!--Navbar-->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <a class="navbar-brand" href="index.html">Working On A Movie?</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarColor03">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                <a class="nav-link" href="/">Make A Movie!</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/genre">Genres</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/top10">Top 10</a>
                </li>
            </ul>
            </div>
        </nav>
        <!--Header Image-->
        <img src="{{ url_for('static', filename='images/redcarpet.jpg') }}" alt="Movie Premeire" class="center" height="350px">
        <!--Title-->
        <h1 class="title">Make A Movie!</h1>
    </header>
    <!--Intro-->
    <h4>How This Works:</h4>
    <p>
    Select movie attributes in the form below and the computer will generate a new movie for you!
    </p>
    <!--Form-->
    <form method="POST">
        <!--Genre-->
        <p>Select Genre: <br> (up to 3)</p>
        <div class="genre">
        <input type="checkbox" id="action" name="action">
        <label for="action">Action</label><br>
        <input type="checkbox" id="adventure" name="adventure">
        <label for="adventure">Adventure</label><br>
        <input type="checkbox" id="animation" name="animation">
        <label for="animation">Animation</label><br>
        <input type="checkbox" id="biography" name="biography">
        <label for="biography">Biography</label><br>
        <input type="checkbox" id="comedy" name="comedy">
        <label for="comedy">Comedy</label><br>
        <input type="checkbox" id="crime" name="crime">
        <label for="crime">Crime</label><br>
        <input type="checkbox" id="drama" name="drama">
        <label for="drama">Drama</label><br>
        <input type="checkbox" id="family" name="family">
        <label for="family">Family</label><br>
        <input type="checkbox" id="fantasy" name="fantasy">
        <label for="fantasy">Fantasy</label><br>
        <input type="checkbox" id="horror" name="horror">
        <label for="horror">Horror</label><br>
        <input type="checkbox" id="mystery" name="mystery">
        <label for="mystery">Mystery</label><br>
        <input type="checkbox" id="romance" name="romance">
        <label for="romance">Romance</label><br>
        <input type="checkbox" id="scifi" name="scifi">
        <label for="scifi">Sci-Fi</label><br>
        <input type="checkbox" id="thriller" name="thriller">
        <label for="thriller">Thriller</label><br>
        </div>
        <!--Language-->
        <div class="language">
        <p>Select Language:<br></p>
        <input type="checkbox" id="english" name="english">
        <label for="english">English</label><br>
        <input type="checkbox" id="french" name="french">
        <label for="french">French</label><br>
        <input type="checkbox" id="japanese" name="japanese">
        <label for="japanese">Japanese</label><br>
        <input type="checkbox" id="korean" name="korean">
        <label for="korean">Korean</label><br>
        <input type="checkbox" id="mandarin" name="mandarin">
        <label for="mandarin">Mandarin</label><br>
        <input type="checkbox" id="spanish" name="spanish">
        <label for="spanish">Spanish</label><br>
        </div>
        <!--Budget-->
        <label for="budget">Budget:</label><br>
        <input type="text" id="budget" name="budget"><br>
        <!--Submit Button-->
        <input type="submit" value="Submit">
      </form> 
    
    <p>
       {%if data  %} 
       The predicted US gross income is: {{data}}
       {% endif %}
    </p>

    <!--Scripts-->
    <script src="https://bootswatch.com/_vendor/jquery/dist/jquery.min.js"></script>
   <!-- <script src="https://bootswatch.com/_vendor/popper.js/dist/umd/popper.min.js"></script> -->
    <script src="https://bootswatch.com/_vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://bootswatch.com/_assets/js/custom.js"></script>
<!-- jQuery CDN -->    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<!-- Bootstrap CDN -->    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>

</html>

